{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'colorscheme.css' %}">
</head>
<body class="background-primary">
     
    <nav class="navbar navbar-expand-md fs-5 text-white" >
      <div class="container-xxl">
        <a href="" class="navbar-brand">
          <img
            class="img-fluid"
            width="100"
            height="80"
            src="{% static 'logo.png' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse"
          id="main-nav"
        >
          <ul class="navbar-nav" >
            
            <li class="nav-item mx-3 ">
              <a href="" class="nav-link h5 text-white" > About Us </a>
            </li>
            
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5 text-white"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Our Sectors
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="">Real Estate</a>
                </li>
                <li>
                  <a class="dropdown-item" href="">
                    Consulting</a>
                </li>
                <li>
                  <a class="dropdown-item" href=""
                    >Logistics</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="" class="nav-link h5 text-white"> Apply </a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5 text-white"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                  Webinars
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                      <a class="dropdown-item" href="">Logisitcs</a>
                  </li>
                  <li>
                  <a class="dropdown-item" href="">Service</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="" class="nav-link h5 text-white"> Blog </a>
            </li>
            <li class="nav-item mx-3">
              <a href="" class="nav-link h5 text-white"> Contact </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                  视频/Videos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                      <a class="dropdown-item" href="">中文视频</a>
                  </li>
                  <li>
                  <a class="dropdown-item" href="">English Videos</a>
                  </li>
              </ul>
            </li>
            
            <li class="nav-item mx-3">
              <a href="" class="nav-link h5 text-white"> Logout </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="" class="nav-link h5 text-white"> Login </a>
            </li>
            {% endif %}
          </ul>

          <div class="my-2 my-lg-0 ms-auto">
            <a href="https://oncehub.com/beyondExponentialEducation" class="btn btn-primary btn-lg my-2 my-sm-0 form-inline text-white">Get Consulting</a>
          </div>
          


        </div>
      </div>
    </nav>
    
    {% block body %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>