{% extends "base.html" %}
{% load static %}
{% block title %} AstraCore {% endblock %}

{% block body %}
<div class="container-xxl py-10" style="background: linear-gradient(180deg, #ffffff 30%, #aabdd1 100%);">
    <div class="text-center py-2">
        <img src="{% static 'testImg.png' %}" alt="">
    </div>
    <div class="container py-2">
        <div class="row text-center">
            <div class="col-sm">
                <p class="h3">Real Estate</p>
            </div>
            <div class="col-sm">
                <p class="h3">Real Estate</p>
            </div>
            <div class="col-sm">
                <p class="h3">Real Estate</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}