.primary{
    color: #000B33 !important;
}

.background-primary{
    background-color: #000B33 !important;
}
.secondary{
    color: #B0B0B0 !important;
}

.accent{
    color: #0dcaf0 !important;
}

.deepContrast{
    color: #041E42 !important;
}